<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TO-DO list</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">
</head>
<body>
    <main>
    <h1>
        <%= header %>
    </h1>
    <div>
        <form action="/create-list" method="post" class="form" >
            <input type="text" name="name" placeholder="Enter Task" required id="name">
            <input type="date" name="date" id="date">
            <input type="time" name="time" id="time">
            <select id="items" name="type">
                <option value="Work"> Work</option>
                <option value="Home"> Home</option>
                <option value="Personal">Personal</option>
                <option value="Child"> Child </option>
                <option value="Health">Health</option>
                <option value="Other">Other</option>
            </select>
            <br>
            <button type="submit" id="button">Add Task</button>
        </form>  
    </div>
    <div id="line"></div>
    <div class="display">
        <table class="table">
            <% for (let i of todo_list) { %> 
                <tr>
                    <td> 
                        <input type="checkbox" id="<%= i.id%>"   class="custom-checkbox"> 
                        <label for = "<%= i.id%>" class="line" ><%= i.name %> </label> 

                    </td>
                    <!-- <td>  -->
                    <!-- </td> -->
                    <td>
                        <p class="date" > <%= i.date %> </p> 
                        <p style="font-size: 8px;" > <%= i.time%> </p> 
                    </td>
                    <td> 
                        <% if(i.type == "Work"){ %>
                            <div id="task_type" class="red">
                                <%=i.type%>
                            </div>
                        <%} else if (i.type == "Personal"){ %>
                            <div id="task_type" class="darkviolet">
                                <%=i.type%>
                            </div>
                        <% } else if (i.type == "Home"){ %>
                            <div id="task_type" class="yellow">
                                <%=i.type%>
                            </div>
                        <% } else if (i.type  == "Health"){ %>
                            <div id="task_type" class="orange">
                                <%=i.type%>
                            </div>
                        <% } else if (i.type == "Other"){ %>
                            <div id="task_type" class="green">
                                <%= i.type %>
                            </div>
                        <% } else if (i.type == "Child"){ %>
                            <div id="task_type" class="grey">
                                <%= i.type %>
                            </div>
                        <% } %>
                    </td>
                    <td>
                        <a href="/delete-task/?id=<%= i.id %>">
                            <i class="fas fa-minus-circle"></i>
                        </a> 
                    </td>
                </tr>
            <%}%>
        </table>
    </main>
        <script type="text/javascript" src="javascript/home.js"></script>
    </div>

</body>
</html>



<!-- 
$('#packersOff').change(function() {
  if ($('#packersOff').prop('checked') ) {
    $('#test').css('text-decoration','line-through');
  }
}); -->

<!-- 
<div class="form-group ">
	<label for="inputName" class="col-md-1 control-label">select</label>  
    <div class="col-md-5">
		<div class="checkbox">
            <label for="packersOff" id="test">sssssssss</label>
            <input type="checkbox" name="packersOff" id="packersOff" class="strikethrough" value="1" />
        </div>
     </div>
</div>  -->